<app-userdashboard></app-userdashboard>
<div class="container">
    <h2>Add Passenger</h2>
    <div class="table-responsive-sm">
     <form #addpassengerform="ngForm" (ngSubmit)="updatepassengerformsubmit()">
      <table class="table table-success table-striped">
        <thead>
          <tr>
            <th>User ID</th>
            <th>Vehicle ID</th>
            <th>Fullname</th>
            <th>Age</th>
            <th>Sex</th>
            <th>Mobile</th>
            <th>Passport Number</th>
            <th>Aadhar Number</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" size="5" name="userreferenceId" [(ngModel)]="passenger.userreferenceId" [value]="this.passenger.userreferenceId" disabled></td>
                <td><input type="text" size="10" name="vehiclereferenceId" [(ngModel)]="passenger.vehiclereferenceId" [value]="this.passenger.vehiclereferenceId" disabled></td>
                <td><input type="text" placeholder="Full Name" name="firstName" [(ngModel)]="passenger.fullName" required #firstName="ngModel" pattern="^(?=.{3,15}$)(?![.])(?!.*[.]{2})[a-zA-Z\s]+(?<![_.])$"
                    [class.is-invalid]="firstName.invalid && firstName.touched">
                    <div *ngIf="firstName.errors && (firstName.invalid && firstName.touched)">
                        <small class="text-danger" *ngIf="firstName.errors?.['required']">*Full Name is Required!</small> 
                        <small class="text-danger" *ngIf="firstName.errors?.['pattern']">*Enter valid Full Name</small>   
                    </div>  
                </td>
                <td><input type="text" size="5"  placeholder="Age" name="age" [(ngModel)]="passenger.age" required #age="ngModel">
                    <div *ngIf="age.errors && (age.invalid && age.touched)">
                         <small class="text-danger" *ngIf="age.errors?.['required']">*Age is Required!</small>
                    </div>
                </td>
                <td>
                    <select name="sex" [(ngModel)]="passenger.sex" required #sex="ngModel">
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                        <option value="O">Others</option>
                     </select>
                     <div *ngIf="sex.errors && (sex.invalid && sex.touched)">
                        <small class="text-danger" *ngIf="sex.errors?.['required']">*Required!</small>
                   </div>
                </td>
                <td><input type="text" placeholder="Mobile" name="mobile" [(ngModel)]="passenger.mobile" #mobile="ngModel" required  pattern="^[6-9]\d{9}$"
                    [class.is-invalid]="mobile.invalid && mobile.touched">
                    <div *ngIf="mobile.errors && (mobile.invalid && mobile.touched)">
                        <small class="text-danger" *ngIf="mobile.errors?.['required']">*Mobile Number is Required!</small> 
                        <small class="text-danger" *ngIf="mobile.errors?.['pattern']">*Enter valid Mobile Number</small>                 
                      </div>
                </td>
                <td><input type="text" placeholder="Passport Number" name="passportNumber" [(ngModel)]="passenger.passportNumber" #passportNumber="ngModel" required  pattern="[A-Z]{1}[0-9]{7}"
                    [class.is-invalid]="passportNumber.invalid && passportNumber.touched">
                    <div *ngIf="passportNumber.errors && (passportNumber.invalid && passportNumber.touched)">
                        <small class="text-danger" *ngIf="passportNumber.errors?.['required']">*Passport Required!</small> 
                        <small class="text-danger" *ngIf="passportNumber.errors?.['pattern']">*Enter valid Passport Number</small>                 
                    </div>
                </td>
                <td><input type="text" placeholder="Aadhar Number" name="aadharNumber" [(ngModel)]="passenger.aadharNumber"  #aadharNumber="ngModel" required  pattern="^\d{4}\s\d{4}\s\d{4}$"
                    [class.is-invalid]="aadharNumber.invalid && aadharNumber.touched">
                    <div *ngIf="aadharNumber.errors && (aadharNumber.invalid && aadharNumber.touched)">
                        <small class="text-danger" *ngIf="aadharNumber.errors?.['required']">*Aadhar Number Required!</small> 
                        <small class="text-danger" *ngIf="aadharNumber.errors?.['pattern']">*Enter valid Aadhar Number</small>                 
                    </div>
                </td>
            </tr>
        </tbody>
      </table>
      <button type="submit" [disabled]="!addpassengerform.valid" style="margin-left: 50%;" class="btn btn-success">Update</button>&nbsp;
      <button type="button" class="btn btn-warning" (click)="goBack()">Back</button>            
    </form>
    </div>
  </div>