<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Update Vehicle</h1>
                </div>
                <form #updatevehicleform="ngForm" (ngSubmit)="updatevehicleformsubmit()">
                    
                    <div class="form-group">
                        <label for="id">Vehicle Name</label>
                        <input type="text" class="form-control" placeholder="Vehicle Name" name="name" required [(ngModel)]="vehicle.name">
                    </div><br>
                    <div class="form-group">
                        <label for="id">Date</label>
                        <input type="text" class="form-control" placeholder="Date" name="date" required [(ngModel)]="vehicle.date">
                    </div><br>
                    <div class="form-group">
                        <label for="id">Source</label>
                        <input type="text" class="form-control" placeholder="Source" name="source" required [(ngModel)]="vehicle.source">
                    </div><br>
                    <div class="form-group">
                        <label for="id">Destination</label>
                        <input type="text" class="form-control" placeholder="Destination" name="destination" required [(ngModel)]="vehicle.destination">
                    </div><br>
                    <div class="form-group">
                        <label for="id">Source-Destination</label>
                        <input type="text" class="form-control" placeholder="Source-Destination" name="sour_dest" required [(ngModel)]="vehicle.sour_dest">
                    </div><br>
                    <div class="form-group">
                        <label for="id">Departure Time</label>
                        <input type="text" class="form-control" placeholder="Time" name="time" required [(ngModel)]="vehicle.time">
                    </div><br>
                    <div class="form-group">
                        <label for="id">Image URL</label>
                        <input type="text" class="form-control" placeholder="Image URL" name="imageUrl" required [(ngModel)]="vehicle.imageUrl">
                    </div><br>
                    <div class="form-group">
                        <label for="id">Price per Head</label>
                        <input type="text" class="form-control" placeholder="Price" name="price" required [(ngModel)]="vehicle.price">
                    </div><br>
                    <div class="form-group">
                        <label for="id">Vehicle Capacity</label>
                        <input type="text" class="form-control" placeholder="Vehicle Capacity" name="capacity" required [(ngModel)]="vehicle.capacity">
                    </div><br>
                    <div class="form-group">
                        <label for="id">Description</label>
                        <input type="text" class="form-control" placeholder="Vehicle Description" name="desc" required [(ngModel)]="vehicle.desc">
                    </div><br>            

                    <button type="submit" class="btn btn-success">Update</button>&nbsp;
                    <button type="submit" class="btn btn-warning" (click)="goToVehiclelist()">Back</button>                  
                   
                </form>
            </div>
        </div>
    </div>
</div>