<div class="container">
  <div class="row">
      <div class="col-md-6">
        <div class="card">
            <div class="text-center">
                <h1>SignUp</h1>
                <h4>Regester Yourself</h4>
            </div>
            <form #signupForm="ngForm" (ngSubmit)="signup()">
              <small class="text-danger">{{msg}}</small>
                  <div class="form-group">
                      <label for="userName">User Name</label>
                      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="User Name" name="userName" [(ngModel)]="user.userName" required #userName="ngModel"
                      [class.is-invalid]="userName.invalid && userName.touched"> 
                      <small class="text-danger" [class.d-none]="userName.valid || userName.untouched">*Username is Required!</small>
                  </div><br>
                  <div class="form-group">
                      <label for="mobile">Mobile Number</label>
                      <input type="text" class="form-control" for="mobile" placeholder="Mobile Number" name="mobile" [(ngModel)]="user.mobile" required #mobile="ngModel"
                      [class.is-invalid]="mobile.invalid && mobile.touched"> 
                      <small class="text-danger" [class.d-none]="mobile.valid || mobile.untouched">*Mobile Number is Required!</small>                  
                  </div><br>
                  <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" for="email" placeholder="Email" name="email" [(ngModel)]="user.email" required pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$" #email="ngModel" 
                    [class.is-invalid]="email.invalid && email.touched" >
                    <div *ngIf="email.errors && (email.invalid && email.touched)">
                      <small class="text-danger" *ngIf="email.errors?.['required']">*Email Id Required</small>
                      <small class="text-danger" *ngIf="email.errors?.['pattern']">*Enter valid Email</small>
                    </div>
                  </div><br>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" for="password" placeholder="Password" name="password" [(ngModel)]="user.password"  required #password="ngModel"
                    [class.is-invalid]="password.invalid && password.touched"> 
                    <small class="text-danger" [class.d-none]="password.valid || password.untouched">*Password is Required!</small>           
                  </div><br>
                  <div class="form-group">
                    <label for="password">Confirm Password</label>
                    <input type="password" class="form-control" for="password" placeholder="Confirm Password" name="cpassword" #cpassword="ngModel" (ngModel)="user.password" required 
                    [class.is-invalid]="cpassword.invalid && cpassword.touched">
                    <small class="text-danger" [class.d-none]="(cpassword.value == password.value) || cpassword.untouched">*Password & Confirm Password Should Match</small>           
                  </div><br>
                  <button type="submit" [disabled]="!signupForm.valid" class="btn btn-primary">SignUp</button>
            </form>
            <a style="color:#fff; margin-top: 10px" routerLink="/login">Already registered? Click to Signin!!</a>
        </div>
      </div>
  </div>
</div>