<app-admin-dashboard></app-admin-dashboard>
<div class="container">
    <h2>User List</h2>
    <p></p>            
    <table class="table table-success table-striped">
      <thead>
        <tr>
          <th>User ID</th>
          <th>User Name</th>
          <th>User Email</th>
          <th>User Mobile</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of _userlist" >
          <td *ngIf="user.userName!='Admin'">{{user.id}}</td>
          <td *ngIf="user.userName!='Admin'">{{user.userName}}</td>
          <td *ngIf="user.userName!='Admin'">{{user.email}}</td>
          <td *ngIf="user.userName!='Admin'">{{user.mobile}}</td>
          <td *ngIf="user.userName!='Admin'">
              <button type="button" class="btn btn-primary"(click)="goToEditUser(user.id)">Edit</button>&nbsp;
              <button type="button" class="btn btn-danger" (click)="deleteUser(user.id)">Delete</button>&nbsp; 
          </td>
         
        </tr>
      </tbody>
    </table>
   
  </div>
  
  