<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Update User</h1>
                </div>
                <form #updateuserform="ngForm" (ngSubmit)="updateuserformsubmit()">
                    
                    <div class="form-group">
                        <label for="id">User Name</label>
                        <input type="text" class="form-control" placeholder="Vehicle Name" name="username" required [(ngModel)]="user.userName">
                    </div><br>
                    <div class="form-group">
                        <label for="id">Mobile</label>
                        <input type="text" class="form-control" placeholder="Mobile" name="mobile" required [(ngModel)]="user.mobile">
                    </div><br>
                    <div class="form-group">
                        <label for="id">Email</label>
                        <input type="text" class="form-control" placeholder="Email" name="email" required [(ngModel)]="user.email">
                    </div><br>

                    <button type="submit" class="btn btn-success">Update</button>&nbsp;
                    <button type="submit" class="btn btn-warning" (click)="goToUserlist()">Back</button>                  
                   
                </form>
            </div>
        </div>
    </div>
</div>